<h1>Edit Article</h1>

<%= form_with(model: @article, local: true) do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize @article.errors.count, "error" %>
        prohibited this article from being saved:
      </h3>

      <ul>
        <% @article.errors.full_mesages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title, "Title" %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text, "Text" %>
    <%= form.text_field :text %>
  </p>

  <p>
    <%= form.submit 'submit' %>
  </p>

<% end %>

<%= link_to 'Back', article_path %>
