<h1>Listing Articles</h1>
Click <%= link_to 'here', new_article_path %> to post a new article.
<br>
<br>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Posted on</th>
  </tr>
  <% @articles.reverse.each do |article| %>
    <tr>
      <td>
        <%= "#{article.id.to_s.rjust(@decimal_points, '0')}. " %>
      </td>

      <td>
        <%= link_to article.title, article_path(article) %>
      </td>

      <td>
        <%= article.time_as_s %>
      </td>

      <td>
        <%= link_to ' (edit)', edit_article_path(article) %><br>
      </td>
    </tr>
  <% end %>
</table>
